$color-primary-light: #ffffff;
$color-primary-dark: #e4eaee;
$color-primary-darker: #bbc5cc;
$color-primary-darkest: #919aa0;
$color-highlight: #00b6e3;//#03a9f4;
$color-active: #e3ffe0;

$color-logo: rgb(98, 174, 199);

$color-error: #ba3939;
$color-error-bg: #ffe0e0;
$color-success: #2b7515;
$color-success-bg:  #ecffd6;