@import "../abstract/variables";

body {
    // font-family: "Raleway", sans-serif; /* use Lato, if not available use sans-serif*/
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 1.6rem;
    line-height: 1.7;
    // color: $color-grey-dark;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //   text-align: center;
    color: #2c3e50;
}




